
:root  {
    --inner-border-radius: 15px;
    --white: hsl(0, 0%, 100%);
    --gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%)

}
body{
    background-color: var(--gray);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    color: var(--white);
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
}

.card img {
    max-width: 100%;
    border-radius: var(--inner-border-radius);
}
.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 13px;
    padding-left: 13px;
    align-items: center;
}
.card__content h1 {
   text-align: center;
   color: var(--dark-blue);
   font-weight: 700;
}
.card__content p {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: var(--grayish-blue);
}

.attribution {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 480px) {
  .card {
    max-width: 305px;
  }
}